body {
  font-family: Arial;
  padding: 2rem;
  background-color: #f0f0f0;
}

input, button {
  padding: 10px;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  position: relative;
}

li button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
